# Database
DB_USER=dualstyle
DB_PASSWORD=dualstyle
DB_NAME=dualstyle

# Backend
ADMIN_EMAIL=admin@dualstyle.com
ADMIN_PASSWORD=troca-isso
JWT_SECRET=gere-um-secret-longo-aqui
JWT_EXPIRES_IN=7d
SERVER_PORT=8081

# Frontend
WEB_PORT=3000
# Em produção coloque o domínio/IP do servidor:
NUXT_PUBLIC_API_BASE=http://SEU_IP_OU_DOMINIO:8081
